
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px); 
}

.register form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

.register input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.register button {
    background-color: var(--primary-button-bg);
    color: var(--primary-button-text);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register button:hover {
    background-color: #0056b3; 
}
